[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gethugothemes/academia-hugo.git
